global:
    enabled: true

checker:
    composer:
        enabled: true
    phpmd:
        enabled: true
        paths:
            - src
    phpcsfixer:
        enabled: true
        config_path: vendor/opositatest/coding-standards/src/CodingStandards/
        paths:
            - src
            - tests
